.row {
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;
}
.row h2 {
  font-size: 50px;
  margin: 20px 0 0;
}
.row h5 {
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 4px;
  font-size: 16px;
}
.background1,
.background2,
.background3,
.background4 {
  min-height: 200px;
  height: 100%;
}

.background1 {
  background: #191a1d8c;
}
.background2 {
  background: #6a0d7d8c;
}
.background3 {
  background: #feb8068c;
}
.background4 {
  background: #40c3ff8c;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
  .row h2 {
    font-size: 80px;
    text-align: right;
    margin: 0;
  }
  .background1,
  .background2,
  .background3,
  .background4 {
    min-height: 400px;
  }
}
@media (min-width: 1024px) {
  .portfolio {
    padding-bottom: 50px;
  }
  .row h2 {
    font-size: 100px;
  }
}
@media (min-width: 1440px) {
  .row h2 {
    font-size: 150px;
    line-height: 150px;
  }
}
