.row {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.title {
  font-size: 32px;
  margin: 0;
}
.subtitle {
  color: #9e9e9e;
  font-weight: 600;
  text-transform: uppercase;
}
.list {
  list-style: none;
  padding: 15px 0 0;
}

.rightCol {
  min-height: 200px;
  text-align: center;
}
.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actionContainer {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .row {
    margin-top: 100px;
    padding: 0 0 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .info {
    flex: 1;
    min-height: 420px;
    margin-right: 50px;
  }
  .actionContainer {
    font-size: 16px;
    border-bottom: 1px solid #9e9e9e;
  }
  .rightCol {
    flex: 2;
  }
}

@media (min-width: 1440px) {
  .info {
    min-height: 450px;
  }
}
