.row {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 35px;
  margin: 0;
}

.rightCol {
  min-height: 200px;
  text-align: center;
  background: rgba(43, 149, 248, 0.253);
}
.rightCol:hover {
  background: rgb(43, 149, 248);
}

@media (min-width: 1024px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
  .info {
    flex: 1;
    height: 500px;
    margin-right: 50px;
    border-bottom: 1px solid #9e9e9e;
  }
  .rightCol {
    flex: 2;
  }
}
