.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 768px) {
  .background {
    display: none;
  }
  .nav {
    display: none;
  }
}
