body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: #fff;
}

.container {
  padding: 0 20px 0;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectName {
  font-size: 35px;
  margin: 0;
}
.first,
.second,
.third {
  min-height: 200px;
  text-align: center;
}

.first {
  background: rgba(43, 149, 248, 0.253);
}
.first:hover {
  background: rgb(43, 149, 248);
}
.second {
  background: rgba(252, 228, 236, 0.431);
}
.second:hover {
  background: #fce4ec;
}
.third {
  background: rgba(184, 135, 11, 0.219);
}
.third:hover {
  background: rgb(184, 135, 11);
}
@media (min-width: 768px) {
  .container {
    padding: 0 100px 0;
  }
}

@media (min-width: 1024px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
  .info {
    flex: 1;
    height: 500px;
    margin-right: 50px;
    border-bottom: 0.3px solid #fff;
  }
  .first,
  .second,
  .third {
    flex: 2;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 150px 0;
  }
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
  .info {
    flex: 1;
    height: 500px;
    margin-right: 50px;
    border-bottom: 0.3px solid #fff;
  }
  .first,
  .second,
  .third {
    flex: 2;
  }
}
