body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.container {
  background: #0f0f0f;
  padding: 0 150px 0;
  color: #fff;
}
.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.introductionRow,
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0;
}
.introductionRow {
  flex: 1;
}
.greetings p {
  margin: 120px 0 15px;
  font-size: 30px;
  color: #333;
}
.greetings h1 {
  font-size: 50px;
  margin: 0;
}
.divider {
  border-bottom: 15px solid #fff;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.preposition {
  font-size: 70px;
  margin: 0;
}

.title,
.subtitle {
  text-align: right;
  margin: 0;
}
.title {
  margin-left: 30px;
  font-size: 120px;
}
.subtitle {
  font-size: 180px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info {
  flex: 1;
  margin-right: 50px;
  height: 500px;
  border-bottom: 0.3px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectName {
  font-size: 35px;
}
.first,
.second,
.third {
  flex: 2;
  max-width: 1000px;
  height: 500px;
  text-align: center;
}

.first {
  background: rgba(43, 149, 248, 0.253);
}
.first:hover {
  background: rgb(43, 149, 248);
}
.second {
  background: rgba(252, 228, 236, 0.431);
}
.second:hover {
  background: #fce4ec;
}
.third {
  background: rgba(184, 135, 11, 0.219);
}
.third:hover {
  background: rgb(184, 135, 11);
}
