.container {
  box-sizing: border-box;
  width: 100%;
  background: #0f0f0f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  z-index: 100;
}

.title {
  font-size: 20px;
  cursor: pointer;
}
.menu {
  display: none;
}
.item {
  list-style: none;
  display: inline;
  padding: 7px 0;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.item:after {
  border-radius: 1em;
  border-top: 0.1em solid #ffffff;
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

.item:hover:after {
  right: 0;
}

@media (min-width: 768px) {
  .container {
    position: fixed;
    padding: 30px 100px;
  }
  .menu {
    display: flex;
  }
  .item {
    margin-left: 50px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 40px 100px;
  }
  .item {
    margin-left: 70px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 40px 150px;
  }
}
