.container {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background: #0f0f0f;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}
h1 {
  font-size: 20px;
}
.menu {
  list-style: none;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
li {
  margin-left: 30px;
  display: inline;
  padding: 7px 0;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}
li:after {
  border-radius: 1em;
  border-top: 0.1em solid #ffffff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

li:hover:after {
  right: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 50px;
  }
  .menu {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 20px 100px;
  }
  li {
    margin-left: 70px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 20px 150px;
  }
}
